/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Arimo Regular'), local('Arimo-Regular'), url(https://fonts.gstatic.com/s/arimo/v13/P5sMzZCDf9_T_10ZxCQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  display: flex;
  font-family: Arimo;
}
@media (max-width: 500px) {
  .container {
    flex-direction: column;
  }
}
.container section {
  margin: 20px;
}
.container .profile {
  background-color: #81bdd1;
  color: white;
  padding: 1%;
}
@media (max-width: 500px) {
  .container .profile {
    order: 2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.container .profile .pic-container img {
  width: 150px;
  margin-bottom: 10px;
  border-radius: 50%;
}
.container .profile h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.container .profile .contact {
  margin-left: 10px;
  margin-bottom: 10px;
}
.container .profile .contact div {
  display: flex;
  line-height: 1.5;
}
.container .profile .contact div i {
  width: 20px;
}
.container .profile .contact div p {
  margin-left: 5px;
}
.container .profile .skills {
  margin-left: 10px;
}
@media (max-width: 500px) {
  .container .profile .skills {
    order: -1;
    width: 100%;
  }
}
.container .profile .skills li {
  line-height: 1.5;
}
.container .experience {
  line-height: 1.5;
}
@media (max-width: 500px) {
  .container .experience {
    order: 1;
  }
}
.container .experience h3 {
  color: #5454c2;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 4px;
}
.container .experience h4 {
  font-size: 18px;
}
.container .experience .my-profile {
  display: flex;
}
.container .experience .my-profile header {
  margin-bottom: 35px;
}
.container .experience .my-profile header h1 {
  font-size: 40px;
  color: #5454c2;
  line-height: normal;
}
.container .experience .my-profile header h2 {
  font-size: 30px;
  color: #6C6EA0;
  line-height: normal;
}
.container .experience .my-profile header img {
  width: 200px;
}
.container .experience .my-profile .about-me {
  border: #5F9EA0 solid 2px;
  padding: 3px;
}
.container .experience .my-profile .about-me p {
  font-size: 15px;
}
.container .experience .education {
  line-height: 1.2;
}
.container .experience li {
  font-size: 16px;
}
.container .experience div {
  margin-bottom: 10px;
}
.container .experience .about-me,
.container .experience .projects,
.container .experience .work {
  margin-bottom: 10px;
}
.container .experience .proj-info,
.container .experience .degree,
.container .experience .title {
  color: darkgray;
  font-size: 13px;
}
